/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
}

/* Navigation Bar */
.navbar {
    background: #2f5ec4;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
   justify-content: center;
}


.logo img {
    width: 80px;
    height: auto;
    border-radius: 50%;
}

/* Container Styling */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    padding: 20px;
}

/* Announcements */
.announcement {
    width: 95%;
    margin: auto;
    background: #b4b4b4;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 24, 236, 0.2);
    padding: 15px;
    margin-bottom: 20px;
}

.announcement h3 {
    color: greenyellow;
    text-align: center;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: bold;
}

.announcement p {
    font-size: 24px;
    color: darkblue;
}

/* Announcement Images */
.announcement-image {
    width: 10%;
    border-radius: 45px;
    cursor: pointer;
    transition: 0.3s;
}

.announcement-image:hover {
    opacity: 0.8;
}

/* Responsive Design */
@media (max-width: 100%) {
    .nav-container {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .container {
        padding: 10px;
    }

    .section {
        max-width: 100%;
    }
}


.logout {
  background: rgb(214, 7, 7);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.logout:hover {
  background: yellowgreen;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.news-item {
    background: #444141;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 24, 236, 0.2);
    padding: 15px;
    margin-bottom: 20px;
}

.news-item h3 {
    margin: 0;
    color: #1b1b1b;
}

.news-item p {
    color: #555;
}

button {
    background: #2f5ec4;
    border-radius: 5px;
}